.titulo_1{
    text-align: center;
}

.cuadro{
    background-color: green;
    border: 5px, solid, black;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.titulo_2{
    text-align: center;
}

.sombras{
    background-color: yellow;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    box-shadow: 10px 10px 8px #000;
}

.titulo_3{
    text-align: center;
}

.caja_1{
    background-color: #c55b1d;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.caja_2{
    background-color: #3ccf37;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.caja_3{
    background-color: #293ce6;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.titulo_4{
    text-align: center;
}

.colores_hsl{
    background-color: hsl(120,100%,50%);
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.titulo_5{
    text-align: center;
}

.colores_rgb{
    background-color: rgb(33, 153, 201);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.colores_rgba{
    background-color: rgb(196, 66, 109);
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.titulo_6{
    text-align: center;
}

.fondo_y_background_positions_and_size{
    background-image: url(images/saske.jpg);
    background-position: center;
    width: 500px;
    height: 350px;
    margin: 0 auto;
}

.titulo_8{
    text-align: center;
}

.background_attachment{
    background-image: url(images/mar.jpg);
    width: 600px;
    height: 350px;
    margin: 0 auto;
    background-attachment: fixed;

}

.titulo_9{
    text-align: center;
}

.gradient{
    width: 600px;
    height: 300px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    margin: 0 auto;
}